# Git Normalization

*               text=auto eol=lf
.*              text eol=lf
*.md            text eol=lf
/defaults       text eol=lf
/init           text eol=lf
/makefile       text eol=lf
/UNLICENSE      text eol=lf

/.editorconfig  export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/README.md      export-ignore
/UNLICENSE      export-ignore
